[collapsed="true"]:not([id^="tabcontext-history"]) + [id^="tabcontext-tabSession-separator"],
[hidden="true"]:not([id^="tabcontext-history"]) + [id^="tabcontext-tabSession-separator"],
[id^="tabcontext-tabSession-separator"]:first-child {
  display: none;
}

#context-tabSession-history [checked="true"],
#tabcontext-tabSession-history [checked="true"] {
  list-style-image: url(chrome://global/skin/menu/menu-radio.gif);
  font-weight: bold;
}

